<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Globale</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Pays</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>à-propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
