<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-title>
      Coronavirus par pays
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
  <!-- Searchbar with danger color -->
  <ion-searchbar color="danger" [(ngModel)]="searchCountry" autocomplete="off" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Global Coronavirus information</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="load2==1;" style="text-align: center;">
    <img src="/assets/load.gif">
</div>
<div *ngIf="load2==3;" style="text-align: center;">
  <img src="/assets/WiFib.gif">
</div>
<div *ngIf="load2==2;" >
  <ion-list *ngFor="let country of camp " >
    <ion-item  color="dark">
      <ion-label>
        <h1>{{country.country_name}}</h1>
        <p>
          <span style="color:orange; font-weight: bolder;">Cases: {{country.active_cases }} <br></span>
          <span style="color:red; font-weight: bolder;">Deaths: {{country.deaths }}</span><br>
          <span style="color:greenyellow; font-weight: bolder;">Recovered: {{country.total_recovered }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>
