<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      information globale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Global Coronavirus information</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="load==1;" style="text-align: center;">
    <img src="/assets/load.gif">
</div>
<div *ngIf="load==3;" style="text-align: center;">
  <img src="/assets/WiFib.gif">
</div>
<div *ngIf="load==2;">
  <ion-card style=" background:#e7b719; color: white;">
    <ion-card-header>
      <ion-card-title style="color: white;">Cas de coronavirus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{global?.total_cases }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card style=" background:#ad3b30; color: white;" >
    <ion-card-header>
      <ion-card-title style="color: white;"> Des morts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{global?.total_deaths }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card style=" background:#4abd59; color: white;" >  
    <ion-card-header>
      <ion-card-title style="color: white;">Rétablie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{global?.total_recovered}}</h1>
    </ion-card-content>
  </ion-card>
</div>
  
</ion-content>
